<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>characters/goblin_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-6}</string>
                <key>spriteSize</key>
                <string>{380,306}</string>
                <key>spriteSourceSize</key>
                <string>{450,324}</string>
                <key>textureRect</key>
                <string>{{1,1},{380,306}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gems/fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,150}</string>
                <key>spriteSourceSize</key>
                <string>{120,150}</string>
                <key>textureRect</key>
                <string>{{309,236},{120,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gems/fire_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,150}</string>
                <key>spriteSourceSize</key>
                <string>{120,150}</string>
                <key>textureRect</key>
                <string>{{461,236},{120,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gems/water.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,150}</string>
                <key>spriteSourceSize</key>
                <string>{120,150}</string>
                <key>textureRect</key>
                <string>{{613,236},{120,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gems/water_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,150}</string>
                <key>spriteSourceSize</key>
                <string>{120,150}</string>
                <key>textureRect</key>
                <string>{{765,236},{120,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/bar_top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{960,233}</string>
                <key>spriteSourceSize</key>
                <string>{960,233}</string>
                <key>textureRect</key>
                <string>{{309,1},{960,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>spritesheet1-ipadhd.png</string>
            <key>size</key>
            <string>{1270,382}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f939f52260cafc8184f334aa6f03a88b:3d9638f080021b6c4922ffe3e349fb14:22919a6bf96466c635768b1b5482f17b$</string>
            <key>textureFileName</key>
            <string>spritesheet1-ipadhd.png</string>
        </dict>
    </dict>
</plist>
