<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buffs/mudshield.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{317,714},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>characters/evil_wizard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,166}</string>
                <key>spriteSourceSize</key>
                <string>{85,166}</string>
                <key>textureRect</key>
                <string>{{206,746},{85,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>characters/goblin_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{128,104}</string>
                <key>spriteSourceSize</key>
                <string>{150,108}</string>
                <key>textureRect</key>
                <string>{{323,397},{128,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>characters/wizard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{98,133}</string>
                <key>spriteSourceSize</key>
                <string>{98,143}</string>
                <key>textureRect</key>
                <string>{{206,914},{98,133}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>characters/wizard_arm_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,57}</string>
                <key>spriteSourceSize</key>
                <string>{27,57}</string>
                <key>textureRect</key>
                <string>{{422,503},{27,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>characters/wizard_arm_front.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,59}</string>
                <key>spriteSourceSize</key>
                <string>{26,59}</string>
                <key>textureRect</key>
                <string>{{419,842},{26,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>characters/wizard_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,166}</string>
                <key>spriteSourceSize</key>
                <string>{72,166}</string>
                <key>textureRect</key>
                <string>{{293,746},{72,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gems/air.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,50}</string>
                <key>spriteSourceSize</key>
                <string>{40,50}</string>
                <key>textureRect</key>
                <string>{{411,790},{40,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gems/air_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,50}</string>
                <key>spriteSourceSize</key>
                <string>{40,50}</string>
                <key>textureRect</key>
                <string>{{317,610},{40,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gems/earth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,50}</string>
                <key>spriteSourceSize</key>
                <string>{40,50}</string>
                <key>textureRect</key>
                <string>{{367,818},{40,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gems/earth_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,50}</string>
                <key>spriteSourceSize</key>
                <string>{40,50}</string>
                <key>textureRect</key>
                <string>{{317,662},{40,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gems/fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,50}</string>
                <key>spriteSourceSize</key>
                <string>{40,50}</string>
                <key>textureRect</key>
                <string>{{367,870},{40,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gems/fire_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,50}</string>
                <key>spriteSourceSize</key>
                <string>{40,50}</string>
                <key>textureRect</key>
                <string>{{369,912},{40,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gems/mini_air.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,12}</string>
                <key>spriteSourceSize</key>
                <string>{10,12}</string>
                <key>textureRect</key>
                <string>{{21,994},{10,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gems/mini_earth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,12}</string>
                <key>spriteSourceSize</key>
                <string>{10,12}</string>
                <key>textureRect</key>
                <string>{{341,714},{10,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gems/mini_fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,12}</string>
                <key>spriteSourceSize</key>
                <string>{10,12}</string>
                <key>textureRect</key>
                <string>{{353,714},{10,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gems/mini_water.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,12}</string>
                <key>spriteSourceSize</key>
                <string>{10,12}</string>
                <key>textureRect</key>
                <string>{{353,726},{10,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gems/water.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,50}</string>
                <key>spriteSourceSize</key>
                <string>{40,50}</string>
                <key>textureRect</key>
                <string>{{411,912},{40,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gems/water_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,50}</string>
                <key>spriteSourceSize</key>
                <string>{40,50}</string>
                <key>textureRect</key>
                <string>{{369,964},{40,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spells/blueball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,19}</string>
                <key>spriteSourceSize</key>
                <string>{19,19}</string>
                <key>textureRect</key>
                <string>{{421,964},{19,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spells/fireball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,19}</string>
                <key>spriteSourceSize</key>
                <string>{19,19}</string>
                <key>textureRect</key>
                <string>{{421,985},{19,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spells/mudshield.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,97}</string>
                <key>spriteSourceSize</key>
                <string>{49,97}</string>
                <key>textureRect</key>
                <string>{{323,503},{49,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spells/whiteball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{1,994},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/background_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,568}</string>
                <key>spriteSourceSize</key>
                <string>{320,568}</string>
                <key>textureRect</key>
                <string>{{1,1},{320,568}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,26}</string>
                <key>spriteSourceSize</key>
                <string>{87,26}</string>
                <key>textureRect</key>
                <string>{{341,914},{87,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/buttondisabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,26}</string>
                <key>spriteSourceSize</key>
                <string>{87,26}</string>
                <key>textureRect</key>
                <string>{{323,554},{87,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/buttondown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,26}</string>
                <key>spriteSourceSize</key>
                <string>{87,26}</string>
                <key>textureRect</key>
                <string>{{317,582},{87,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/column_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,392}</string>
                <key>spriteSourceSize</key>
                <string>{58,392}</string>
                <key>textureRect</key>
                <string>{{382,1},{58,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/column_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,394}</string>
                <key>spriteSourceSize</key>
                <string>{57,394}</string>
                <key>textureRect</key>
                <string>{{323,1},{57,394}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/grid_background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,246}</string>
                <key>spriteSourceSize</key>
                <string>{203,246}</string>
                <key>textureRect</key>
                <string>{{1,746},{203,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/panel_bottom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,42}</string>
                <key>spriteSourceSize</key>
                <string>{206,42}</string>
                <key>textureRect</key>
                <string>{{367,610},{206,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/panel_top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,37}</string>
                <key>spriteSourceSize</key>
                <string>{206,37}</string>
                <key>textureRect</key>
                <string>{{411,582},{206,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/scenery.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{314,173}</string>
                <key>spriteSourceSize</key>
                <string>{314,173}</string>
                <key>textureRect</key>
                <string>{{1,571},{314,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>spritesheet.png</string>
            <key>size</key>
            <string>{452,1013}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c95eb0338d865c0bb4b02342ff75c0e7:36a1b83b7030b3ffa7b54e180f0bde76:ed4222f1d24a3c8678b382d341162271$</string>
            <key>textureFileName</key>
            <string>spritesheet.png</string>
        </dict>
    </dict>
</plist>
