<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gems/air.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,100}</string>
                <key>spriteSourceSize</key>
                <string>{80,100}</string>
                <key>textureRect</key>
                <string>{{1,1},{80,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gems/earth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,100}</string>
                <key>spriteSourceSize</key>
                <string>{80,100}</string>
                <key>textureRect</key>
                <string>{{83,1},{80,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gems/fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,100}</string>
                <key>spriteSourceSize</key>
                <string>{80,100}</string>
                <key>textureRect</key>
                <string>{{1,103},{80,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gems/mini_air.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,23}</string>
                <key>spriteSourceSize</key>
                <string>{19,23}</string>
                <key>textureRect</key>
                <string>{{1,205},{19,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gems/mini_earth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,23}</string>
                <key>spriteSourceSize</key>
                <string>{19,23}</string>
                <key>textureRect</key>
                <string>{{26,205},{19,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gems/mini_fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,23}</string>
                <key>spriteSourceSize</key>
                <string>{19,23}</string>
                <key>textureRect</key>
                <string>{{51,205},{19,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gems/mini_water.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,23}</string>
                <key>spriteSourceSize</key>
                <string>{19,23}</string>
                <key>textureRect</key>
                <string>{{76,205},{19,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gems/water.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,100}</string>
                <key>spriteSourceSize</key>
                <string>{80,100}</string>
                <key>textureRect</key>
                <string>{{83,103},{80,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>spritesheet.png</string>
            <key>size</key>
            <string>{164,225}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b3202c96cf58b2e711a7dd5917ff9ee5:4f1cdfd6be9c99f262ad43c8a7199daf:1de88c2a7237d4cdf78de8d8ad4f4c7e$</string>
            <key>textureFileName</key>
            <string>spritesheet.png</string>
        </dict>
    </dict>
</plist>
