<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buffs/mudshield.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,43}</string>
                <key>spriteSourceSize</key>
                <string>{43,43}</string>
                <key>textureRect</key>
                <string>{{630,957},{43,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>characters/evil_wizard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,332}</string>
                <key>spriteSourceSize</key>
                <string>{169,332}</string>
                <key>textureRect</key>
                <string>{{1735,1},{169,332}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>characters/goblin_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-4}</string>
                <key>spriteSize</key>
                <string>{252,204}</string>
                <key>spriteSourceSize</key>
                <string>{300,216}</string>
                <key>textureRect</key>
                <string>{{1469,787},{252,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>characters/wizard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{195,261}</string>
                <key>spriteSourceSize</key>
                <string>{195,285}</string>
                <key>textureRect</key>
                <string>{{1272,639},{195,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>characters/wizard_arm_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,114}</string>
                <key>spriteSourceSize</key>
                <string>{54,114}</string>
                <key>textureRect</key>
                <string>{{1469,670},{54,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>characters/wizard_arm_front.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,117}</string>
                <key>spriteSourceSize</key>
                <string>{52,117}</string>
                <key>textureRect</key>
                <string>{{1723,787},{52,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>characters/wizard_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,332}</string>
                <key>spriteSourceSize</key>
                <string>{143,332}</string>
                <key>textureRect</key>
                <string>{{1139,494},{143,332}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gems/air.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,100}</string>
                <key>spriteSourceSize</key>
                <string>{80,100}</string>
                <key>textureRect</key>
                <string>{{1906,1},{80,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gems/air_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,100}</string>
                <key>spriteSourceSize</key>
                <string>{80,100}</string>
                <key>textureRect</key>
                <string>{{1906,103},{80,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gems/earth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,100}</string>
                <key>spriteSourceSize</key>
                <string>{80,100}</string>
                <key>textureRect</key>
                <string>{{1906,205},{80,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gems/earth_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,100}</string>
                <key>spriteSourceSize</key>
                <string>{80,100}</string>
                <key>textureRect</key>
                <string>{{1906,307},{80,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gems/fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,100}</string>
                <key>spriteSourceSize</key>
                <string>{80,100}</string>
                <key>textureRect</key>
                <string>{{1723,906},{80,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gems/fire_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,100}</string>
                <key>spriteSourceSize</key>
                <string>{80,100}</string>
                <key>textureRect</key>
                <string>{{1777,749},{80,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gems/mini_air.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,23}</string>
                <key>spriteSourceSize</key>
                <string>{19,23}</string>
                <key>textureRect</key>
                <string>{{714,957},{19,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gems/mini_earth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,23}</string>
                <key>spriteSourceSize</key>
                <string>{19,23}</string>
                <key>textureRect</key>
                <string>{{1815,851},{19,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gems/mini_fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,23}</string>
                <key>spriteSourceSize</key>
                <string>{19,23}</string>
                <key>textureRect</key>
                <string>{{1951,447},{19,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gems/mini_water.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,23}</string>
                <key>spriteSourceSize</key>
                <string>{19,23}</string>
                <key>textureRect</key>
                <string>{{735,957},{19,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gems/water.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,100}</string>
                <key>spriteSourceSize</key>
                <string>{80,100}</string>
                <key>textureRect</key>
                <string>{{1859,761},{80,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gems/water_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,100}</string>
                <key>spriteSourceSize</key>
                <string>{80,100}</string>
                <key>textureRect</key>
                <string>{{1859,843},{80,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spells/blueball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,37}</string>
                <key>spriteSourceSize</key>
                <string>{37,37}</string>
                <key>textureRect</key>
                <string>{{1735,748},{37,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spells/fireball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,37}</string>
                <key>spriteSourceSize</key>
                <string>{37,37}</string>
                <key>textureRect</key>
                <string>{{675,957},{37,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spells/mudshield.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,194}</string>
                <key>spriteSourceSize</key>
                <string>{98,194}</string>
                <key>textureRect</key>
                <string>{{1272,902},{98,194}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spells/whiteball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{1777,851},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/bar_bottom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,155}</string>
                <key>spriteSourceSize</key>
                <string>{640,155}</string>
                <key>textureRect</key>
                <string>{{630,643},{640,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/bar_top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,155}</string>
                <key>spriteSourceSize</key>
                <string>{640,155}</string>
                <key>textureRect</key>
                <string>{{630,800},{640,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,52}</string>
                <key>spriteSourceSize</key>
                <string>{174,52}</string>
                <key>textureRect</key>
                <string>{{1897,409},{174,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/buttondisabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,52}</string>
                <key>spriteSourceSize</key>
                <string>{174,52}</string>
                <key>textureRect</key>
                <string>{{1897,585},{174,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/buttondown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,52}</string>
                <key>spriteSourceSize</key>
                <string>{174,52}</string>
                <key>textureRect</key>
                <string>{{1473,494},{174,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/column_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,784}</string>
                <key>spriteSourceSize</key>
                <string>{95,784}</string>
                <key>textureRect</key>
                <string>{{1547,1},{95,784}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/column_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,784}</string>
                <key>spriteSourceSize</key>
                <string>{89,784}</string>
                <key>textureRect</key>
                <string>{{1644,1},{89,784}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/cross.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,36}</string>
                <key>spriteSourceSize</key>
                <string>{33,36}</string>
                <key>textureRect</key>
                <string>{{1951,409},{33,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/grid_background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{406,491}</string>
                <key>spriteSourceSize</key>
                <string>{406,491}</string>
                <key>textureRect</key>
                <string>{{1139,1},{406,491}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/panel_bottom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{411,84}</string>
                <key>spriteSourceSize</key>
                <string>{411,84}</string>
                <key>textureRect</key>
                <string>{{1735,335},{411,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/panel_top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{412,74}</string>
                <key>spriteSourceSize</key>
                <string>{412,74}</string>
                <key>textureRect</key>
                <string>{{1821,335},{412,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui/scenery.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{627,345}</string>
                <key>spriteSourceSize</key>
                <string>{627,345}</string>
                <key>textureRect</key>
                <string>{{1,643},{627,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/smokeytexture.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,1136}</string>
                <key>spriteSourceSize</key>
                <string>{640,1136}</string>
                <key>textureRect</key>
                <string>{{1,1},{640,1136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>spritesheet0-hd.png</string>
            <key>size</key>
            <string>{1987,1001}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f939f52260cafc8184f334aa6f03a88b:3d9638f080021b6c4922ffe3e349fb14:22919a6bf96466c635768b1b5482f17b$</string>
            <key>textureFileName</key>
            <string>spritesheet0-hd.png</string>
        </dict>
    </dict>
</plist>
