<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>characters/evil_wizard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,332}</string>
                <key>spriteSourceSize</key>
                <string>{169,332}</string>
                <key>textureRect</key>
                <string>{{1,1},{169,332}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>characters/wizard_arm_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,114}</string>
                <key>spriteSourceSize</key>
                <string>{54,114}</string>
                <key>textureRect</key>
                <string>{{172,1},{54,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>characters/wizard_arm_front.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,117}</string>
                <key>spriteSourceSize</key>
                <string>{52,117}</string>
                <key>textureRect</key>
                <string>{{172,117},{52,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>characters/wizard_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,332}</string>
                <key>spriteSourceSize</key>
                <string>{143,332}</string>
                <key>textureRect</key>
                <string>{{1,335},{143,332}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gems/air.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,100}</string>
                <key>spriteSourceSize</key>
                <string>{80,100}</string>
                <key>textureRect</key>
                <string>{{146,335},{80,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gems/earth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,100}</string>
                <key>spriteSourceSize</key>
                <string>{80,100}</string>
                <key>textureRect</key>
                <string>{{146,417},{80,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gems/fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,100}</string>
                <key>spriteSourceSize</key>
                <string>{80,100}</string>
                <key>textureRect</key>
                <string>{{146,499},{80,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gems/mini_air.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,23}</string>
                <key>spriteSourceSize</key>
                <string>{19,23}</string>
                <key>textureRect</key>
                <string>{{226,117},{19,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gems/mini_earth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,23}</string>
                <key>spriteSourceSize</key>
                <string>{19,23}</string>
                <key>textureRect</key>
                <string>{{226,142},{19,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gems/mini_fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,23}</string>
                <key>spriteSourceSize</key>
                <string>{19,23}</string>
                <key>textureRect</key>
                <string>{{226,167},{19,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gems/mini_water.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,23}</string>
                <key>spriteSourceSize</key>
                <string>{19,23}</string>
                <key>textureRect</key>
                <string>{{226,192},{19,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gems/water.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,100}</string>
                <key>spriteSourceSize</key>
                <string>{80,100}</string>
                <key>textureRect</key>
                <string>{{146,581},{80,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>spritesheet.png</string>
            <key>size</key>
            <string>{247,668}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cb5ba9a9b260ffde0557ed3512346da1:5013b8e65ec0dcba73f5859c950d84ab:1de88c2a7237d4cdf78de8d8ad4f4c7e$</string>
            <key>textureFileName</key>
            <string>spritesheet.png</string>
        </dict>
    </dict>
</plist>
