//
//  Config.xcconfig
//  GemGame
//
//  Created by Sunil Patel on 20/10/2015.
//
//

COCOS=/Users/sunil/dev/cocos2d-x-3.8.1

USER_HEADER_SEARCH_PATHS="$(COCOS)/cocos" "$(COCOS)/cocos/base" "$(COCOS)/cocos/physics" "$(COCOS)/cocos/math" "$(COCOS)/cocos/2d" "$(COCOS)/cocos/ui" "$(COCOS)/cocos/network" "$(COCOS)/cocos/audio/include" "$(COCOS)/cocos/editor-support" "$(COCOS)/extensions" "$(COCOS)/external" "$(COCOS)/external/chipmunk/include/chipmunk" "$(COCOS)/cocos/platform/ios" "$(COCOS)/cocos/platform/ios/Simulation" "$(COCOS)/external/glfw3/include/mac" "$(COCOS)/platform/mac"